@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
    font-family: 'Inter';
}

body {
    margin: 0;
    padding: 0;
    height: 100vh;
    display: grid;
    grid-template-rows: 1fr 10fr 1.5fr;
}

#assessment-header {
    background-color: rgba(22, 146, 182);
    grid-row: 1 / 2;
}

#assessment-body {
    grid-row: 2 / 3;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(212, 233, 241);
}

#info-bar {
    grid-row: 3 / 4;
    background-color: rgb(79, 79, 79);
}

.intro-form {
    text-align: center;
    font-weight: 200;
    font-size: 20px;
    padding: 20px;
    border-radius: 10px;
    background-color: white;
    border: 4px solid rgba(22, 146, 182);
    height: 60%;
    width: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.start-button {
    height: 80px;
    width: 200px;
    border-radius: 10px;
    font-size: 40px;
    border-color: transparent;
    background-color: rgba(22, 146, 182);
    color: white;
    font-weight: 400;
    font-family: sans-serif;
}