@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    font-family: 'Poppins';
}

body {
    margin: 0;
    padding: 0;
    height: 100vh;
    display: grid;
    grid-template-rows: 1fr 10fr 1.5fr;
}

#assessment-header {
    padding-left: 20px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    background-color: rgba(22, 146, 182);
    grid-row: 1 / 2;
    color: white;
    font-size: 25px;
    font-weight: 400;
}

#assessment-body {
    grid-row: 2 / 3;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(212, 233, 241);
}

#info-bar {
    grid-row: 3 / 4;
    background-color: rgb(79, 79, 79);
}

.intro-form {
    padding: 20px;
    border-radius: 10px;
    background-color: white;
    border: 4px solid rgba(22, 146, 182);
    height: 60%;
    min-width: 550px;
    max-width: 900px;
    min-height: 300px;
    max-height: 350px;
    width: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.intro-text {
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 20px;
    padding-bottom: 5px;
    text-align: center;
    font-weight: 300;
    font-size: 18px;
}

.start-button {
    height: 80px;
    width: 250px;
    border-radius: 15px;
    font-size: 35px;
    border: 2px solid rgba(212, 233, 241);
    background-color: rgba(22, 146, 182);
    color: white;
    font-weight: 200;
    text-shadow: 1px 1px 2px rgb(17, 110, 136);
    margin-bottom: 20px;
    margin-top: 5px;
}