@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    font-family: 'Poppins';
}

body {
    margin: 0;
    padding: 0;
    height: 100vh;
    min-height: 600px;
    min-width: 650px;
    display: grid;
    grid-template-rows: 1fr 10fr 1.5fr;
}

#assessment-header {
    padding-left: 20px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    background-color: rgba(22, 146, 182);
    grid-row: 1 / 2;
    color: white;
    font-size: 25px;
    font-weight: 300;
    gap: 7px;
    border-left: 30px solid rgb(79, 79, 79);
}

.header-logo {
    height: 45px;
    width: 45px;
}

#assessment-body {
    grid-row: 2 / 3;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(212, 233, 241);
}

#info-bar {
    grid-row: 3 / 4;
    background-color: rgb(79, 79, 79);
}

.intro-form {
    padding: 20px;
    border-radius: 10px;
    background-color: white;
    border: 4px solid rgba(22, 146, 182);
    height: 60%;
    min-width: 550px;
    max-width: 900px;
    min-height: 300px;
    max-height: 350px;
    width: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.intro-text {
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 20px;
    padding-bottom: 5px;
    text-align: center;
    font-weight: 300;
    font-size: 18px;
}

.start-button {
    height: 70px;
    width: 250px;
    border-radius: 15px;
    font-size: 35px;
    border: 2px solid rgba(212, 233, 241);
    background-color: rgba(22, 146, 182);
    color: white;
    font-weight: 400;
    text-shadow: 1px 1px 2px rgb(17, 110, 136);
    margin-bottom: 20px;
    margin-top: 5px;
    transform: scaleY(0.98);
    letter-spacing: -0.5px;
}

.browser-box {
    border-radius: 10px;
    background-color: transparent;
    height: 80%;
    width: 50%;
    max-height: 500px;
    min-width: 600px;
    border: 4px solid rgb(79, 79, 79);
    display: grid;
    grid-template-rows: 1.3fr 1.3fr 1.6fr 19fr;
}

.tab-bar {
    background-color: lightgray;
    grid-row: 1 / 2;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    display: grid;
    grid-template-columns: 1fr 0.2fr 2.5fr 80px;
}

.tab {
    grid-column: 1 / 2;
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
    margin-left: 7px;
    margin-top: 5px;
    height: 25px;
    background-color: white;
    display: flex;
    align-items: center;
    padding-left: 8px;
}

.plus-button {
    font-size: 19px;
    grid-column: 2 / 3;
    height: 25px;
    width: 25px;
    background-color: transparent;
    border-color: transparent;
    color: rgb(79, 79, 79);
}

.window-buttons {
    grid-column: 4 / 5;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
}

.window-buttons button {
    background-color: transparent;
    height: 25px;
    width: 25px;
    border-color: transparent;
    color: rgb(79, 79, 79);
}

.close-button {
    font-size: 19px;
    font-weight: 300;
}

.min-button {
    font-size: 17px;
    margin-bottom: 1px;
}

.hide-button {
    font-size: 19px;
    font-weight: 300;
}

.navigation-bar {
    grid-row: 2 / 3;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
}

.tab-text {
    white-space: nowrap;
    grid-column: 1 / 2;
    font-size: 12px;
}

.close-tab-button {
    padding-left: clamp(55px, 6vw, 100px);
    grid-column: 3 / 4;
    font-size: 19px;
    background-color: transparent;
    border-color: transparent;
    color: rgb(79, 79, 79);
    font-weight: 300;
}

.nav-container button {
    background-color: transparent;
    border-color: transparent;
    color: rgb(79, 79, 79);
    height: 100%;
}

.nav-container {
    width: 86px;
}

.refresh-button {
    font-size: 21px;
}

.back-button, .forward-button {
    font-size: 21px;
}

.search-container {
   width: clamp(445px, 37.7vw, 600px);
   height: 70%;
   display: flex;
   align-items: center;
   justify-content: center;
   border-radius: 20px;
   background-color: rgb(227, 227, 227);
}

.search-input {
    width: 100%;
    padding-left: 10px;
    border-color: transparent;
    background-color: transparent;
}

.search-input:focus {
    outline: none;
}

.search-input::-webkit-search-cancel-button {
    appearance: none;
}

.bookmark-button {
    background-color: transparent;
    border-color: transparent;
    font-weight: bold;
}

button:focus {
    color: rgba(22, 146, 182);
    text-shadow: 0px 0px 2px rgb(53, 176, 214);
}

.account-button, .menu-button {
    height: 100%;
    background-color: transparent;
    border-color: transparent;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 160%;
}

.account-button {
    margin-left: 1px;
    background-image: url("./icons/user-profile.svg");
}

.menu-button {
    margin-left: 1px;
    background-image: url("./icons/menu-vertical.svg");
}

.moogle-bar {
    border-top: 0.5px solid rgb(163, 163, 163);
    padding-right: 5px;
    grid-row: 3 / 4;
    background-color: white;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 5px;
    background-color: white;
}

.nine-dots-button, .account-dtl-button {
    margin-top: 8px;
    background-color: transparent;
    border-color: transparent;
    height: 100%;
    border-color: transparent;
    background-repeat: no-repeat;
    background-position: center;
}

.nine-dots-button {
    background-size: 150%;
    background-image: url("./icons/nine-dots.svg");
}

.account-dtl-button {
    width: 35px;
    background-size: contain;
    background-image: url("./icons/user-profile.svg");
}

.moogle-page {
    grid-row: 4 / 5;
    background-color: white;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    display: flex;
    justify-content: center;
    padding-top: 10vh;
}

.moogle-logo {
    display: block;
    margin: 0 auto;
    height: 60px;
    width: 180px;
    padding-bottom: 10px;
}

.search-container2 {
   width: 400px;
   height: 30px;
   display: flex;
   align-items: center;
   justify-content: center;
   border-radius: 20px;
   background-color: rgb(227, 227, 227);
   padding-right: 10px;
   margin-bottom: 15px;
}

.search-input2 {
    width: 400px;
    padding-left: 10px;
    border-color: transparent;
    background-color: transparent;
}

.search-input2:focus {
    outline: none;
}

.search-input2::-webkit-search-cancel-button {
    appearance: none;
}

.mic-button, .img-search-button {
    background-color: transparent;
    border-color: transparent;
    height: 100%;
    border-color: transparent;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.mic-button {
    margin-right: 3px;
    background-image: url('./icons/microphone.svg');
}

.img-search-button {
    background-image: url('./icons/image-search.svg');
}

.add-shortcut-button {
    border-radius: 50%;
    border-color: transparent;
    display: block;
    margin: 0 auto;
    height: 40px;
    width: 40px;
    background-color: rgb(227, 227, 227);
    font-size: 20px;
    color: rgb(79, 79, 79);
}

.img-search-button:focus {
    background-image: url('data:image/svg+xml,%3C%3Fxml%20version%3D%221.0%22%20encoding%3D%22utf-8%22%3F%3E%3C!--%20Uploaded%20to%3A%20SVG%20Repo%2C%20www.svgrepo.com%2C%20Generator%3A%20SVG%20Repo%20Mixer%20Tools%20--%3E%3Csvg%20fill%3D%22rgba(22%2C%20146%2C%20182)%22%20width%3D%22800px%22%20height%3D%22800px%22%20viewBox%3D%220%200%2024%2024%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cpath%20d%3D%22M19%2C13a1%2C1%2C0%2C0%2C0-1%2C1v.39l-1.48-1.48a2.79%2C2.79%2C0%2C0%2C0-3.93%2C0l-.7.7L9.41%2C11.12a2.87%2C2.87%2C0%2C0%2C0-3.93%2C0L4%2C12.61V7A1%2C1%2C0%2C0%2C1%2C5%2C6H9A1%2C1%2C0%2C0%2C0%2C9%2C4H5A3%2C3%2C0%2C0%2C0%2C2%2C7V19a3%2C3%2C0%2C0%2C0%2C3%2C3H17a3%2C3%2C0%2C0%2C0%2C3-3V14A1%2C1%2C0%2C0%2C0%2C19%2C13ZM5%2C20a1%2C1%2C0%2C0%2C1-1-1V15.43l2.9-2.89a.79.79%2C0%2C0%2C1%2C1.09%2C0l3.17%2C3.17%2C0%2C0L15.45%2C20Zm13-1a1%2C1%2C0%2C0%2C1-.18.54L13.31%2C15l.7-.69a.77.77%2C0%2C0%2C1%2C1.1%2C0L18%2C17.22Zm3.71-8.71L20%2C8.57a4.31%2C4.31%2C0%2C1%2C0-6.72.79%2C4.27%2C4.27%2C0%2C0%2C0%2C3%2C1.26A4.34%2C4.34%2C0%2C0%2C0%2C18.57%2C10l1.72%2C1.73a1%2C1%2C0%2C0%2C0%2C1.42%2C0A1%2C1%2C0%2C0%2C0%2C21.71%2C10.29ZM18%2C8a2.32%2C2.32%2C0%2C1%2C1%2C0-3.27A2.32%2C2.32%2C0%2C0%2C1%2C18%2C8Z%22%2F%3E%3C%2Fsvg%3E');
    filter: drop-shadow(0px 0px 2px rgb(53, 176, 214));
}

.mic-button:focus {
    background-image: url('data:image/svg+xml,%3C%3Fxml%20version%3D%221.0%22%20encoding%3D%22utf-8%22%3F%3E%3C!DOCTYPE%20svg%20PUBLIC%20%22-%2F%2FW3C%2F%2FDTD%20SVG%201.0%2F%2FEN%22%20%22http%3A%2F%2Fwww.w3.org%2FTR%2F2001%2FREC-SVG-20010904%2FDTD%2Fsvg10.dtd%22%3E%3C!--%20Uploaded%20to%3A%20SVG%20Repo%2C%20www.svgrepo.com%2C%20Generator%3A%20SVG%20Repo%20Mixer%20Tools%20--%3E%3Csvg%20version%3D%221.0%22%20id%3D%22Layer_1%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20%20width%3D%22800px%22%20height%3D%22800px%22%20viewBox%3D%220%200%2064%2064%22%20enable-background%3D%22new%200%200%2064%2064%22%20xml%3Aspace%3D%22preserve%22%3E%3Cg%3E%3Cpath%20fill%3D%22rgba(22%2C%20146%2C%20182)%22%20d%3D%22M32%2C44c6.629%2C0%2C12-5.371%2C12-12V12c0-6.629-5.371-12-12-12S20%2C5.371%2C20%2C12v20C20%2C38.629%2C25.371%2C44%2C32%2C44z%22%2F%3E%3Cpath%20fill%3D%22rgba(22%2C%20146%2C%20182)%22%20d%3D%22M52%2C28c-2.211%2C0-4%2C1.789-4%2C4c0%2C8.836-7.164%2C16-16%2C16s-16-7.164-16-16c0-2.211-1.789-4-4-4s-4%2C1.789-4%2C4c0%2C11.887%2C8.656%2C21.73%2C20%2C23.641V60c0%2C2.211%2C1.789%2C4%2C4%2C4s4-1.789%2C4-4v-4.359C47.344%2C53.73%2C56%2C43.887%2C56%2C32C56%2C29.789%2C54.211%2C28%2C52%2C28z%22%2F%3E%3C%2Fg%3E%3C%2Fsvg%3E');
    filter: drop-shadow(0px 0px 2px rgb(53, 176, 214));
}